LAT = 51.1
LON = -0.1
HOME = (LAT, LON)

FEEDER_URL = "http://feeder.local:8080/data/aircraft.json"

THRESHOLD_DIST = 800
THRESHOLD_ALT = 600

BROKER_ADDRES = "IP"
BROKER_USER = "login"
BROKER_PASSWORD = "password

UNIQUE_ID = "aircraft_monitor"
MQTT_ROOT = "homeassistant/sensor/" + UNIQUE_ID